// colores
$bitcoin-orange:#F7931A;
$soft-orage: #FFE9D5;
$secodary-blue: #1a9af7;
$soft-blue: #e7f5ff;
$warm-black: #201e1c;
$black: #282623;
$off-white: #faf8f7;
$just-white: #ffff;

// Fuentes
$base-font: 'DM sans',sans-serif;
$base-fontSize: 62.5%;
